<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="main-container">
    <div class="navbar">
        <span><img src="../../../assets/formsapp-logo.svg" alt="" srcset=""></span>
        <span class="spacer"></span>
            </div>

    <div class="sidenav-container ">
        <div mode="side" opened class="sidenav" style="overflow: hidden; height: 90vh;">
            <nav id="sidebarMenu" class="sidebar" style="display: flex; flex-direction: column; height: 100%;">
              <div class="n" style="flex-grow: 1; overflow: hidden;">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <i class="fa fa-folder icon"></i>
                        
                        <span  class="title"> <img  class="fo" src="https://cdn-icons-png.flaticon.com/512/6421/6421284.png" alt="">MES FORMULAIRES</span>
                        <span class="count">(0)</span>
                    </div>
                    <div class="folder">
                        <i class="fa fa-folder-plus icon"></i>
                        <span> <img  class="aj" src="https://c8.alamy.com/compfr/2c307jw/icone-nouveau-dossier-de-l-ordinateur-creer-un-nouveau-dossier-de-fichiers-ajouter-un-nouveau-dossier-illustration-vectorielle-2c307jw.jpg" alt=""> Créer un nouveau dossier</span>
                    </div>
                </div>
              </div>
              <div class="C" style="flex-shrink: 0;">
                <div class="row d-flex align-items-center">
                  <button class="b text-white">
                    Gratuit            
                  </button>
                  <div class="ms-auto dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Formulaire de quota</a></li>
                      <li><a class="dropdown-item" href="#">Quota de réponses mensuelles</a></li>
                      <li><a class="dropdown-item" href="#">Quota de vues de formulaire</a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6wfkUdtD30_s12oxJfuWnR05Hi39N2bSyNQ&s" class="icon-img"> Archive
                    <span class="count">(0)</span>
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://img.freepik.com/vecteurs-premium/icone-corbeille-icone-corbeille_645658-3622.jpg" class="icon-img"> Corbeille
                    <span class="count">(0)</span>
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmWpEreV5G9wriNvCqU8rde97qeiH1l73_jg&s" class="icon-img"> Mes Soumissions
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/8134814-utilisateur-groupe-reseau-entreprise-equipe-groupe-communaute-membre-icone-entreprise-equipe-travail-activite-personnel-unite-icone-gratuit-vectoriel.jpg" class="icon-img"> Membres d'équipe
                  </h5>
                </div>
              </div>
            </nav>
        </div>
        <div class="content">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>Mes formulaires <button class="btn btn-custom">CRÉER UN FORMULAIRE</button></h5>
                    <div class="icon-buttons">
                        <button class="btn"><i class="fas fa-search"></i><img class="rec" src="https://thumbs.dreamstime.com/b/ic%C3%B4ne-de-loupe-ou-recherche-123898043.jpg" alt=""></button>
                        <button class="btn"><i class="fas fa-filter"></i> <img  class="fil"  src="https://www.svgrepo.com/show/433065/filter-list.svg" alt=""></button>
                        <button class="btn"><i class="fas fa-sort"></i><img   class="sor" src="https://cdns.iconmonstr.com/wp-content/releases/preview/2014/240/iconmonstr-sort-25.png" alt=""> </button>
                        <button class="btn"><i class="fas fa-list"></i> <img  class="per" src="https://cdn-icons-png.flaticon.com/256/1442/1442941.png" alt=""></button>

                        <button class="btn"><i class="fas fa-list"></i> <img  class="per" src="https://cdn0.iconfinder.com/data/icons/rounded-basics/24/svg-rounded_list-512.png" alt=""> Liste</button>
                        <button class="btn active"><i class="fas fa-th"></i> <img class="pour" src="https://static.vecteezy.com/ti/vecteur-libre/p1/26333583-la-grille-icone-vecteur-symbole-conception-illustration-vectoriel.jpg" alt="" >Grille</button>
                    </div>
                </div>
                <div class="empty-state">
                    <img src="https://cdn-icons-png.flaticon.com/512/2343/2343563.png" alt="Form Icon">
                    <h6>VOUS N'AVEZ PAS ENCORE CRÉÉ DE FORMULAIRES.</h6>
                    <p>Vos formulaires apparaîtront ici.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</div>
