<div class="centrale">
    <div class="container-fluid centger2">

        <div class="row md-12">
    
            <div class="col-6 ">
              <img src="../../../../assets/formsapp-logo.svg" class="d-block w-70" alt="img">
              <br>
            </div>
            <div class="col-6 ">
    
                <button class="btn btn-primary logoutbtn"> S'identifier </button>
    
            </div>
         
         
    
        </div>
    
    </div>
    
    
    
    <div class="container">
    
    
    
        <div class="sidebar card">
          <ul>
       
            <li><a href="#">Application Forms</a></li>
            <li><a href="#">Booking Forms</a></li>
            <li><a href="#" (click)="setActive('Application Form')" [class.active]="activeLink === 'Application Forms'">Application Forms</a></li>
            <li><a href="#" (click)="setActive('Booking Forms')" [class.active]="activeLink === 'Booking Forms'">Booking Forms</a></li>
            <li><a href="#" (click)="setActive('Consent Forms')" [class.active]="activeLink === 'Consent Forms'">Consent Forms</a></li>
            <li><a href="#" (click)="setActive('Contact Forms')" [class.active]="activeLink === 'Contact Forms'">Contact Forms</a></li>
            <li><a href="#" (click)="setActive('Donation Forms')" [class.active]="activeLink === 'Donation Forms'">Donation Forms</a></li>
            <li><a href="#" (click)="setActive('Evaluation Forms')" [class.active]="activeLink === 'Evaluation Forms'">Evaluation Forms</a></li>
            <li><a href="#" (click)="setActive('Event Registration Forms')" [class.active]="activeLink === 'Event Registration Forms'">Event Registration Forms</a></li>
            <li><a href="#" (click)="setActive('Feedback Forms')" [class.active]="activeLink === 'Feedback Forms'">Feedback Forms</a></li>
            <li><a href="#" (click)="setActive('Job Application Forms')" [class.active]="activeLink === 'Job Application Forms'">Job Application Forms</a></li>
            <li><a href="#" (click)="setActive('File Upload Forms')" [class.active]="activeLink === 'File Upload Forms'">File Upload Forms</a></li>
            <li><a href="#" (click)="setActive('Membership Forms')" [class.active]="activeLink === 'Membership Forms'">Membership Forms</a></li>
            <li><a href="#" (click)="setActive('Order Forms')" [class.active]="activeLink === 'Order Forms'">Order Forms</a></li>
            <li><a href="#" (click)="setActive('Payment Forms')" [class.active]="activeLink === 'Payment Forms'">Payment Forms</a></li>
            <li><a href="#" (click)="setActive('Registration Forms')" [class.active]="activeLink === 'Registration Forms'">Registration Forms</a></li>
            <li><a href="#" (click)="setActive('Report Forms')" [class.active]="activeLink === 'Report Forms'">Report Forms</a></li>
          </ul>
        </div>
        <div class="content">
          <input  type="text" placeholder="Search" class="search-bar form-control">
          <div class="cards">
            <div class="card" *ngFor="let form of forms">
              <img [src]="form.image" alt="{{ form.name }}">
              <p>{{ form.name }}</p>
            </div>
          </div>
        </div>
      </div>
      
    
</div>